*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    overflow: hidden;
    font-family:'Times New Roman', Times, serif ;
}

.background{
    background-image: url(istockphoto-811268074-170667a.webp);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.nav-bar{
    height: 5rem;
    background-color:#B95C50;
    color: antiquewhite;
    position: relative;
}
.typing-test{
    border:2px solid antiquewhite;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 8px;
    font-size: xxx-large;
    padding-bottom: 9px;
    position: absolute;
 }
a{
    text-decoration: none;
    color: antiquewhite;
}
.hom-abt{
    display:flex;
    float:right;
    position:absolute;
    top:30px;
    right:50px;
    padding-top: 0px;
    gap:50px;
    cursor: pointer;
}
#home{
    display: inline;
    font-size: x-large;
}
#about{
    display: inline;
    font-size: x-large;
}
#home:hover{
    background-color: #DE847B;
    transition:0.5s;
}
#about:hover{
    background-color: #DE847B;
    transition:0.5s;
}
.about-box{
    width: 40rem;
    height: 25rem;
    background-color: #DEB3AD;
    align-self: center;
    border: 1px solid black;
    border-radius: 20px;
}
.about-content{
    height: 90vh;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 70px;
}
.about-text{
    font-size: larger;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}